body{
    padding: 5px 5px 0;
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 16px;
}

.menu a:hover{
    color:#30B868;
}

.menu a{
    color: #000;
    text-decoration: none;
}

.menu-button{
    color: white;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
}

.menu-button:hover{
    background-color: #0cee6a;
}
