body {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    padding: 20px 5px 0;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 16px;
}

.menu a:hover {
    color: #30B868;
    font-weight: bold;
    transition-duration: 500ms;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.menu-button {
    color: white;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
}

.menu-button:hover {
    background-color: #0cee6a;
    transition-duration: 500ms;
}

main {
    padding: 0 0 0 0;
}

.hero-sec {
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-anim {
    background: radial-gradient(circle, #4f8f6b 0%, #4f8f6b 25%, #a8cbb8 25%, #a8cbb8 55%, #e3efe8 55%, #e3efe8 100%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.hero-sec {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 auto;
    gap: 4px;
}

.top h3 {
    font-size: 16px;
    font-weight: 500;
}

.middle {
    color: #ffffff;
}

.middle h1 {
    font-size: 72px;
}

.middle span {
    color: #30B868;
}

.bottom {
    display: flex;
    gap: 20px;
}

.left-button {
    display: flex;
    background-color: #30B868;
    border-radius: 4px;
    padding: 12px 16px;
    align-items: center;
    gap: 5px;
}

.left-button:hover {
    background-color: #0cee6a;
    transition-duration: 500ms;
}

.left-button a {
    text-decoration: none;
    color: #ffffff;
}

.right-button {
    background-color: transparent;
    border: 3px solid #e61708;
    border-radius: 4px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.right-button a {
    text-decoration: none;
    color: #ffffff;
}

.right-button:hover {
    background-color: #e61708;
    transition-duration: 500ms;
}

.about {
    padding: 0 15px;
}

.a-top {
    padding-bottom: 30px;
}

.a-top h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.a-top p {
    margin-top: -30px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    box-shadow: 4px 4px 10px #a8cbb8;
    border-radius: 10px;
    transform: ease-in-out;
    transition-duration: 500ms;
}

.card:hover {
    box-shadow: 0px 5px 20px #a8cbb8;
}

.cards-circle {
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    background-color: #e61708;
}

.card h3 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.card p {
    margin-top: -10px;
    text-align: center;
}

.knowledge{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 150px 15px;
}

.kn-left,
.kn-right{
    flex: 1;
}

.kn-right h4{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.kn-right h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -2px;
}

.kn-list{
    list-style-image: url(assets/CheckCircle.png);
}

.kn-list li{
    font-size: 17px;
    font-weight: bold;
}